<div id="step1" class="absolute">
  <div class="question"><%=@outreach.prize_message_long %></div>
  <div class="logo"><%= image_tag @outreach.logo.url %></div>
  <div class="prize"><%=@outreach.prize_message %></div>
  <a id="start" class="button" href="step2"><%=t :start %></a>
	<div class="img mobile_block"></div>
</div>
