#step8.box.orange
  .option_position
    .prize
      %h2= t 'step8.message'
  .logo
    %a{:href => @outreach.link_url}
      = @outreach.link_text
      = image_tag @outreach.logo.url
  %a#finish.button
    = t 'misc.finish'

#dirt
#tree
#grass
#bike.flip