<div id="step8">
	<div class="option_position">
    <div class="non_mobile_block" id="bg"></div>
    <div class="question"><%=t :step8_message %></div>
	</div>

  <div class="img mobile_block"></div>
	<a class="button next">
      <%=t :finish %></a>
</div>
