.box.orange#tandc
  %h4 Условиями
  .text
    %p Мы - миссия “Украина для Христа”. Мы христиане , которые хотят поделиться простыми истинами об Иисусе Христе в увлекательной игровой форме . Мы считаем, что все люди находяться в духовное путешествие, и мы заинтересованы в оказании помощи тем, кто хочет открыть для себя, что значит следовать за Христом в этом путешествии. Нас интересует где вы находитесь сейчас в своем духовном путешествии, расскажите нам о своих интересах, и мы дадим вам возможность выиграть 2 горных велосипеда, отбор будет производиться случайным образом для тех, кто взаимодействует с нами через наши весело обследования.
    %p Мы не делаем никаких денег или злонамеренно поделиться любой из ваших данных с кем-либо еще вы должны участвовать в нашем цифровом обзоре. Мы надеемся связаться с вами по вопросам веры , если вы выразили заинтересованность во время нашего обследования. Если вы не заинтересованы в вопросах веры , или христианской точки зрения вы имеете право отказаться от взаимодействия с нами сегодня.
    %p Мы отдаем студент планировщик, который помог тысячам студентам получить более высокие оценки , лучше понять отношения и найти ответы на большие вопросы жизни. Спасибо за взаимодействие с нами, мы надеемся, что у вас есть очень успешный год в университете.
    %p Следующие охватывает юридическую сторону нашего сайта и услуг.
    %p 
    %p Условия предоставления услуг
    %p Последнее обновление: 18 сентября 2013
    %p Добро пожаловать на наш веб- опрос! Спасибо за использование наших продуктов и услуг («Услуги» ). Эти Услуги предоставляет “Украина для Христа”. “Украина для Христа”  находится в г. Киеве по адресу ул. Саксаганского 22б; оф. 25. Тел (044) 2891632
    %p Пользуясь нашими услугами , Вы соглашаетесь с данными условиями. Пожалуйста, внимательно ознакомьтесь с ними .
    %p Используя наши услуги
    %p Вы должны следовать любой политик доступны для вас в рамках Услуг .
    %p Не злоупотреблять нашими услугами. Например, не вмешиваются в наши услуги или пытаться получить доступ к ним с использованием способа, кроме интерфейса и инструкций, которые мы предоставляем. Вы можете воспользоваться нашими услугами только в соответствии с законом , в том числе применимые законы и постановления, касающиеся экспорта и правил. Мы можем приостановить или прекратить предоставление наших услуг для Вас, если Вы не нарушение наших правил или политики , или если мы исследуем подозреваемых проступка.
    %p Используя наши услуги не предоставляет вамправо использовать любые брендинг или логотипы, используемые в наших услугах . Не удалять , скрывать или изменять любые юридические безопасности, указанным в систему или вместе с нашими услугами.
    %p Наши услуги отображать содержание, которое не Украина для Христов . Этот контент исключительной ответственностьюлица , что делает его доступным . Мы можем рассмотреть содержимое чтобы выяснить, является ли это незаконным или нарушает наши правила, и мы можем удалять или отказываться от отображать содержимое, которое , как мы полагаем нарушает наши политики или закона. Но это не обязательно означает, что мы рассматриваем содержание, поэтому, пожалуйста, не думайте, что мы делаем.
    %p В связи с использованием Вамиуслуг , мы можем отправить Вам объявления о новых услугах , административные сообщения и другую информацию . Вы можете отказаться от некоторых из этих сообщений .
    %p Конфиденциальности и защиты авторских прав
    %p Наша политика конфиденциальности объясняет, как мы относимся к вашим личным данным и защитить вашу конфиденциальность при использовании наших услуг. Пользуясь нашими услугами , вы подтверждаете , что Украина для Христа можно использовать такие данные в соответствии с нашей политикой конфиденциальности. Мы не будем продавать ваши данные в любые другие предприятия или распространять ваши данные за пределами нашей организации. Мы будем использовать Ваши ответы предложить вам шанс выиграть одну из двух велосипеды, которые мы отдаем , а также дополнительные возможности для передачи информации в случае необходимости. Мы можем иметь опрос и контактные данные удалены по вашему желанию , связавшись с нами в письменной форме в наш офис , перечисленных в начале и в конце этих терминов .
    %p Модификации и завершения наших услуг
    %p Мы постоянно меняются и совершенствуются нашими услугами. Мы можем добавлять или удалять функции или функции , и мы можем приостановить или прекратитьобслуживание в целом.
    %p Вы можете отказаться от использования наших услуг в любое время. Мы также можем прекратить предоставление Вам Услуг , а также добавить или создать новые пределы нашей услуги в любое время.
    %p Наши обязательства и предупреждения
    %p Мы предоставляем наши услуги , используя коммерчески разумного уровня мастерства и заботы , и мы надеемся, что вы будете наслаждаться их использованием. Но есть определенные вещи, которые мы не обещаем, о наших услугах.
    %p Кроме случаев, прямо указанные в этих условия или Дополнительные условия , НИ УКРАИНА ДЛЯ ХРИСТА NOR ее поставщиков и дистрибьюторов ДАЕТ НИКАКИХ конкретных обещаний об услугах. Например, мы не делаем никаких ОБЯЗАТЕЛЬСТВ ОТНОСИТЕЛЬНО СОДЕРЖАНИЯ в рамках Услуг , специфическая функцияУСЛУГИ , либо их надежности, доступности или способности для удовлетворения ваших потребностей . Мы предоставляем услуги "КАК ЕСТЬ" .
    %p В НЕКОТОРЫХ СТРАНАХ предусматриваются определенные ГАРАНТИЙ , КАКГАРАНТИИ ПРИГОДНОСТИ ДЛЯ КОНКРЕТНЫХ ЦЕЛЕЙ И ОТСУТСТВИЯ НАРУШЕНИЯ ПРАВ . ВРАМКАХ ЗАКОНА , мы исключаем все гарантированности.
    %p Ответственность за наши услуги
    %p КОГДА ЭТО РАЗРЕШЕНО ЗАКОНОМ, УКРАИНА ДЛЯ ХРИСТА И УКРАИНЫ ПО Христов поставщиков и дистрибьюторов , НЕ НЕСЕТ ОТВЕТСТВЕННОСТИ за упущенную выгоду , доходы или данные , финансовые потери ИЛИ КОСВЕННЫЕ, СПЕЦИАЛЬНЫЕ , ПОСЛЕДУЮЩИЕ, ПРИМЕРНЫЕ ИЛИ ШТРАФНЫЕ УБЫТКИ .
    %p В ПРЕДЕЛАХ, УСТАНОВЛЕННЫХ ЗАКОНОМ, общая сумма ответственности компании УКРАИНУ ДЛЯ Христа и ее поставщики и дистрибьюторы , ЗА ЛЮБЫЕ ПРЕТЕНЗИИ ПУНКТОМ НАСТОЯЩЕГО ДОГОВОРА, В ТОМ ЧИСЛЕ ДЛЯ ЛЮБЫХ ПОДРАЗУМЕВАЕМЫХ ГАРАНТИЙ , ограничиваются УПЛАЧЕННОЙ СУММЫ США воспользоваться услугами (или, если Мы выбираем, к поставлять васуслугами снова ) .
    %p Во всех случаях УКРАИНЫ ПО Христа и ее поставщики и дистрибьюторы , НЕ НЕСЕТ ОТВЕТСТВЕННОСТИ за любые потери или повреждения не предвиденных.
    %p Бизнес использует наши услуги
    %p Если вы используете наши услуги от именибизнеса , что дело принимает эти условия. Он будет защищать и ограждать Украина для Христа и его филиалы, сотрудников , агентов и сотрудников от любых претензий , исков или действиях, вытекающих из или в связи с использованием Услуг или нарушения этих условий , включая любую ответственность и расходы, связанные с претензиями , убытков, ущерба , судебных исков, разбирательств , судебные издержки и гонорары адвокатам .
    %p О настоящих Условий
    %p Мы можем изменять данные условия или любые дополнительные условия , которые применяются кслужбе , например, отражают изменения в закон или изменения в наших услугах. Вы должны смотреть на условия регулярно . Мы отправим уведомление о модификации этих терминов на этой странице. Мы отправим уведомление модифицированных дополнительных условий в соответствующей службе. Изменения не имеют обратной силы и вступают в силу не ранее чем через четырнадцать дней со дня их публикации . Тем не менее, изменения для решения новых функций дляобслуживания и изменения, осуществляемые по юридическим причинам вступают в силу немедленно . Если вы не согласны сизмененными условиями дляобслуживания , вы должны прекратить использование этого сервиса.
    %p Если естьконфликт между этими условиями идополнительными условиями , Дополнительные условия будет контролировать , что для конфликта.
    %p Эти термины контролировать отношения между Украиной за Христа , и вы . Они не создают никаких прав третьей стороны-бенефициара .
    %p Если вы не соотвествуют со сроками , и мы не предпринимаем никаких действий сразу же, это не означает, что мы даем на любые права, которые у нас могут быть (например, принятие мер в будущем) .
    %p Если выясняется, что тот или иной термин не подлежит принудительному исполнению , это не повлияет на любые другие условия .
    %p Законы Украины будет применяться к любому споры, возникающие из или в связи с этими условиями илиуслуги . Все претензии, возникающие из или в связи с этими условиями илиуслуг будут оспариваться исключительно в судах Украины , и вы и Украины для Христа согласие на персональную юрисдикцию в этих судах.
    %p
      Для получения информации о том, как связаться с Украиной за Христа , пожалуйста, посетите наш сайт:
      %a{:href => "http://campus-linc.org.ua/", target: "_blank"} http://campus-linc.org.ua/
  %a.button.next= t 'misc.back'