<div id="step4">
	<div class="option_position">
		<div class="question">On my <span>SPIRITUAL JOURNEY</span> I'd like to</div>
		<label class="label_radio" for="options">
			<input type="radio" id="options" name="sj" value="Find out more about my options">
			Find out more about my options
		</label>
		<label class="label_radio" for="more">
			<input type="radio" id="more" name="sj" value="Hear more about StudentLife">
			Hear more about StudentLife
		</label>
		<label class="label_radio" for="grow">
			<input type="radio" id="grow" name="sj" value="Grow closer to God">
			Grow closer to God
		</label>
		<label class="label_radio" for="nowhere">
			<input type="radio" id="nowhere" name="sj" value="Go nowhere">
			Go nowhere
		</label>
	</div>
	<div class="error"><strong>Forgetting something?</strong> Make a selection</div>
	<a class="button next">Next</a>
</div>