<select id="hall">
  <option disabled="disabled" selected="selected">Halls of Residence</option>
  <option value="None">None</option>
  <option value="Bishop Julius">Bishop Julius</option>
  <option value="College House">College House</option>
  <option value="Ilam Apartments">Ilam Apartments</option>
  <option value="Rochester and Rutherford">Rochester and Rutherford</option>
  <option value="University Hall">University Hall</option>
  <option value="Sonoda Campus">Sonoda Campus</option>
</select>