<select id="hall">
       <option disabled="disabled" selected="selected">Halls of Residence</option>
       <option value="None">None</option>
       <option value="Abbey">Abbey</option>
       <option value="Aquinas">Aquinas</option>
       <option value="Arana">Arana</option>
       <option value="Carrington">Carrington</option>
       <option value="City College">City College</option>
       <option value="Cumberland College">Cumberland College</option>
       <option value="Cumberland Court">Cumberland Court</option>
       <option value="Hayward">Hayward</option>
       <option value="Knox">Knox</option>
       <option value="Salmond">Salmond</option>
       <option value="Selwyn">Selwyn</option>
       <option value="Studholme">Studholme</option>
       <option value="St. Margaret">St. Margaret</option>
       <option value="Toroa">Toroa</option>
       <option value="University College">University College</option>
</select>