<select id="hall">
	<option disabled="disabled" selected="selected">Halls of Residence</option>
	<option value="None">None</option>
	<option value="Atawhai">Atawhai</option>
	<option value="Bindaloe">Bindaloe</option>
	<option value="City and Egmont">City and Egmont</option>
	<option value="Colombo">Colombo</option>
	<option value="Craiglockhart">Craiglockhart</option>
	<option value="Fergusson">Fergusson</option>
	<option value="Kairanga">Kairanga</option>
	<option value="Kiwitea">Kiwitea</option>
	<option value="Matai">Matai</option>
	<option value="McHardy">McHardy</option>
	<option value="Miro">Miro</option>
	<option value="Moginie">Moginie</option>
	<option value="Rotary">Rotary</option>
	<option value="Ruahine">Ruahine</option>
	<option value="Tararua">Tararua</option>
	<option value="Tawa">Tawa</option>
	<option value="Totara">Totara</option>
	<option value="Walter Dyer">Walter Dyer</option>
</select>