<select id="hall">
	<option disabled="disabled" selected="selected">Halls of Residence</option>
 	<option value="None">None</option>
	<option value="Cumberland House">Cumberland House</option>
	<option value="Education House">Education House</option>
	<option value="Everton Hall">Everton Hall</option>
	<option value="Helen Lowry Hall">Helen Lowry Hall</option>
	<option value="Joan Stevens Hall">Joan Stevens Hall</option>
	<option value="McKenzies">McKenzies</option>
	<option value="Stafford House">Stafford House</option>
	<option value="Te Kotahinga">Te Kotahinga</option>
	<option value="Te Puni - Terrace">Te Puni - Terrace</option>
	<option value="Te Puni Village">Te Puni Village</option>
	<option value="University Hall">University Hall</option>
	<option value="Victoria House">Victoria House</option>
	<option value="Wai-te-ata">Wai-te-ata</option>
	<option value="Weir House">Weir House</option>
	<option value="Whānau Housing">Whānau Housing</option>
</select>